<header>
    <nav>
         <div id="userInfo">
        <i class="home-icon bi-house-fill" onclick="window.location.assign('/')"></i>
    </div>
    <button id="post-create-btn">
        <i class="icon bi-pencil-square"></i>
    </button>
    </nav>
</header>